@use '/src/styles/variables' as *;

.heroEl{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // padding-top: 4rem;
    padding: 8rem 0.2rem;
    // text-align: center;
    &__headline{
        font-size: 2rem;
        margin-top: 10%;
    }
    &__frontdev{
        font-size: clamp(2rem, 5vw, 4.2rem);
        display: block;
        text-transform: uppercase;
        font-weight: bolder;
    }
    &__frontdev--front{
        color: rgb(192, 2, 192);
        line-height: 0.3;
    }
    &__frontdev--dev{
        margin-left: .8rem;
    }
    &__about{
        font-size: $regularFontSize;
        line-height: 1.5rem;
        width: 40%;
        margin-bottom: .8rem;
        font-family: "Oxanium";
    }
    &__focus{
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        font-family: "Oxanium";
        margin: 4rem 0 5rem 0;
    }
    &__stats{
        display: flex;
        flex-direction: column;
    }
    &__stats--headline{
        font-weight: bolder;
       text-align: center;
       font-size: 1.8rem;
       color: rgb(192, 2, 192);
       padding-bottom: .4rem;
    }
    &__stats--text{
        text-align: center;
        font-size: clamp(.8rem, 2vw, 1.3rem);
    }
  
    &__img{
        width: 250px;
        // display: block;
    } 
}

@media only screen and (max-width: 700px) {
    .heroEl{
        padding: 5rem 2rem 2rem 2rem;


    &__headline{
        margin-top: 5%;
    }
        
    &__img{
        width: 250px;
        // display: none;
    } 
    &__about{
                width: 90%;

        line-height: 1.8rem;
    }
    &__browserFlex{
        display: flex;
        justify-content: space-around;
        margin: 1rem 0 2rem 0;
        // height: 450px;
    }
    &__focus{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 45%;
        gap: 1rem;
    }
    }
  }