@use 'variables' as *;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
  html,
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    margin: 0;
  }
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: $backgroundColorPrimary;
    color: rgb(201, 199, 199);
  }
  
  a {
    text-decoration: none;
    color: whitesmoke;
  }
  
  .wrapper {
    width: min(100%,1024px);
    margin: auto;
    position: relative;
  }
  
  /* ----base region end----*/
  
  //fonts
  @font-face {
    font-family: "Oxanium";
    src: url("/src/styles/Oxanium-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 400;
    font-style: normal;
  }