.arrowdown{
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    &__button{   
      width: 100%;
      background: none;
      border: none;
      cursor: pointer;
    }
 &__icon{
        display: block;
        color: rgba(245, 245, 245, 0.257);
        font-size: 100px;
        animation: jumpAnimation 2700ms ease-in-out infinite;
    }
}

@keyframes jumpAnimation {
    0% {
        transform: translateY(0);
    }
    16% {
        transform: translateY(-25px);
    }
    27% {
        transform: translateY(0);
    }
    41% {
        transform: translateY(-20px);
    }
    58% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}