@use 'variables' as *;

header {
    position: sticky;
    padding: 1rem 0 0 0;
    top: 0;
    z-index: 1000;
    width: $maxWidthBase;
    margin: auto;
    background-color: rgba(128, 0, 128, 0);
    border-bottom: 1px solid rgba(245, 245, 245, 0.317);
  }
  