@use 'variables' as *;

header {
    position: sticky;
    padding: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    margin: auto;
    background-color: rgba(128, 0, 128, 0);
  }
  
  .arrowdown{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    &__button{   
      width: 100%;
      background: none;
      border: none;
      cursor: pointer;
    }
    &__icon{
        display: block;
        color: rgba(245, 245, 245, 0.453);
        font-size: 100px;
    }
}