$maxWidthBase: 65vw;
$backgroundColorPrimary: #0c0c34;

$regularFontSize: clamp(10px, 4vw, 1rem);
$headlineFontSize: clamp(1.4rem, 4vw, 1.6rem);

$headline1: clamp(1.5rem, 4vw, 5rem);
$headline2: clamp(.9rem, 2vw, 1.9rem);
$headline3: clamp(.7rem, 2vw, 1.9rem);

$headlineColor: rgb(171, 45, 244);

$border: rgba(227, 204, 239, 0.185);