.video-background{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: opacity(40%) saturate(60%);
}

.content{
    position: relative;
    color: white;
    text-align: center;
    padding: 20px;
}

.video-background {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.video-background.loaded {
  opacity: 1;
}

body.loading {
  visibility: hidden;
}

/* Fading effekt for en mere smooth transition */
body {
  opacity: 0;
  transition: opacity 0.3s ease;
}

body:not(.loading) {
  opacity: 1;
}