.heroEl{
    height: 95vh;
    // text-align: center;
    &__headline{
        font-size: 2rem;
        margin-top: 10%;
    }
    &__frontdev{
        font-size: 2.2rem;
        display: block;
        text-transform: uppercase;
        font-weight: bolder;
    }
    &__frontdev--front{
        color: rgb(192, 2, 192);
        line-height: 0.3;
    }
    &__frontdev--dev{
        margin-left: .8rem;
    }
    &__about{
        line-height: 1.5rem;
        width: 96%;
        margin-bottom: 1.2rem;
    }
    &__focus{
        width: 100%;
    }
    &__focus th{
       text-align: center;
       font-size: 1.4rem;
       color: rgb(192, 2, 192);
       padding-bottom: .4rem;
    }
    &__focus td{
       text-align: center;
    }

    &__arrowdown{   
        margin-top: 3rem;
        width: 100%;
        background: none;
        border: none;
        
    }
    &__arrowIcon{
        display: block;
        color: rgba(245, 245, 245, 0.453);
        font-size: 100px;
    }
}

@media only screen and (min-width: 700px) {
    .heroEl{
       &__img{
        width: 580px;
    } 
    &__about{
        width: 700px;
    }
    &__browserFlex{
        display: flex;
        justify-content: space-between;
    }
    &__focus{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
    }
    &__focus th, &__focus td{
        padding: 1rem 2rem 0 0;
     }
     &__arrowdown{   
        margin-top: 10rem;
    }
    }
  }