@use '../styles/variables' as *;

.navigation{
    width: 100%;
    &__burgerBtn{
        display: none;
    }
    
    //big screen
    &__primary{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        // font-size: 14px;
        font-weight: bold;
    }
    &__navlist{
        display: flex;
        gap: 3rem;
        margin-right: 2.8rem;
    }
    &__navitem{
        text-transform: uppercase;
        padding-bottom: 0.2rem;
    }
    &__navitem:hover{
        box-shadow: 0 -6px 5px -4px rgb(113, 227, 7) inset;
    font-weight: bold;
    }


    //burger
    &__burger{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        flex-direction: column;
        width: 65%;
        height: 100vh;

        background-color: $backgroundColorPrimary;
    }
    &__burger-close{
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: rgb(201, 201, 201);
        font-weight: bold;
        font-size: 20px;
        color: white;
        padding: 0 0.3rem;
    }
    &__burger-list{
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
    &__socials{
        display: flex;
        align-items: center;
        gap: 5px;
    }

}
.overlay{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur(2px);
        z-index: 1;
    }
.hidden{
    display: none;
}

.material-symbols-outlined{
    font-size: 30px;
    margin-top: 5px;
}
.fa-linkedin{
    padding: 0.2rem 0.3rem;
  border-radius: 2px;
  background: linear-gradient(#047cbc, #0484bc);
}

@media (max-width: 600px) {
    .navigation{
        position: relative;

        &__burgerBtn{
            display: block;
        }
        &__primary{
            display: none;
        }
        &__navitem{
            flex: none; /*prevents flex-growth + flex-shrink*/
            width: max-content;
        }
        &__logo{
            margin-top: 1rem;
        }
        &__socials{
            margin-top: 1rem;
        }
    }
}